.header{
    text-transform: capitalize;
}

.main{
    width: 95%;
}

.box{
    border-bottom: 1px solid gray;
}

.box p{
    display: inline-block;
}

.box h2{
    text-transform: capitalize;
}

.left{
    width: 90%;
    font-weight: bold;
    text-transform: capitalize;
}

.right{
    font-style: italic;
}
